<ion-list>

  <!-- Primitives -->
  <field-editor *ngFor="let property of data.properties; trackBy: trackByFn"
                [property]="property"
                (update)="onPropertyUpdated($event)"></field-editor>

  <!-- Properties -->
  <ion-item-group *ngFor="let subDocument of data.subProperties; trackBy: trackByFn">
    <ion-item-divider color="light">{{subDocument.key}}</ion-item-divider>
    <document-editor [doc]="subDocument.value"
                     [key]="subDocument.key"
                     (update)="onSubdocumentUpdated($event)"></document-editor>
  </ion-item-group>

</ion-list>