desktop-menu {

  z-index:10;

  > ion-title{

    text-align: center;

    .toolbar-title{
      font-variant:small-caps;
      letter-spacing: 4px;
      //color: $NAV_TITLE_COLOR;
      //font-size: $NAV_TITLE_SIZE;
    }
  }

  > ion-content{
    //background-color: $NAV_BG_COLOR;
    //box-shadow: $NAV_BOXHSADOW;

    > .scroll-content{

      overflow-y: auto;
      margin-bottom: 56px;
    }

    ion-list{

      > div.group {
        margin-bottom: 24px;

        > .item{

          //background-color: $NAV_BG_COLOR;
          padding-left:0px;

          &:not(.section){
            cursor:pointer;
          }

          &.section{
            border: none;
            padding-left:16px;
            //color: $NAV_SECTION_COLOR;
            //font-size: $NAV_SECTION_TXT_SIZE;
            letter-spacing: 1px;
            line-height: 24px;
            text-transform: uppercase;
            //font-weight: $NAV_SECTION_WEIGHT;
            margin: 0;

            > .item-inner{
              border: none;
            }
          }

          &.category{

            padding-left:16px;
            //color: $NAV_CATEGORY_TXT_COLOR;
            //font-size: $NAV_CATEGORY_TXT_SIZE;
            //font-weight: $NAV_CATEGORY_WEIGHT;

            > ion-icon{
              //font-size: $NAV_CATEGORY_ICON_SIZE;
            }

            &:hover{
              //color: $NAV_CATEGORY_ALT_TXT_COLOR;
              //background-color: $NAV_CATEGORY_ALT_BG_COLOR;
            }

            > .item-inner{
              margin-left: 8px;
              border:none;
            }

            &:not(.expanded) {
              //border-bottom: $NAV_CATEGORY-BORDER;
            }

            &.expanded {
              border: none;
              margin-bottom: -4px;
            }
          }

          &.sub-item{

            flex: 0 0 28px;
            padding-left:38px;
            min-height: unset;
            margin-top: 4px;
            margin-bottom: 8px;
            //color: $NAV_SUB_TXT_COLOR;
            //font-size: $NAV_SUB_TXT_SIZE;
            //font-weight: $NAV_SUB_WEIGHT;

            > ion-icon{
              //font-size: $NAV_SUB_ICON_SIZE;
              margin: 0px;
              min-height: unset;
            }

            &:hover{
              //color: $NAV_SUB_ALT_TXT_COLOR;
            }

            &.separator{
              padding-bottom: 8px;
              //border-bottom: $NAV_SUB-BORDER;
            }

            > .item-inner{
              margin-left: 8px;
              border:none;
              height: 24px;
              max-height: 24px;
              min-height: unset;
            }
          }
        }
      }
    }
  }

}
