<div class="wrapper" fxLayoutAlign="center center">
	<mat-card fxFlex="0 1 500px">
		<mat-card-title fxLayoutAlign="space-between">
			<span *ngIf="!(authenticating$ | async)">Login</span>
			<span *ngIf="(authenticating$ | async)">Logging in...</span>
			<span *ngIf="(authenticating$ | async)" class="logging-in">
        <mat-icon class="loading spinner">hourglass_empty</mat-icon>
      </span>
		</mat-card-title>
		<mat-card-content>

			<form *ngIf="!(authenticating$ | async)" fxLayoutAlign="center" [formGroup]="credentialsForm" (keyup.enter)="credentialsForm.valid && onLogin()">
				<div fxFlex="1 1 300px" fxLayout="column">
					<!-- field: login -->
					<mat-form-field>
						<input formControlName="username" matInput placeholder="username">
					</mat-form-field>
					<mat-error>
						<span *ngIf="!credentialsForm.get('username').valid && credentialsForm.get('username').touched">username required</span>
					</mat-error>

					<!-- field: password -->
					<mat-form-field>
						<input formControlName="password" type="password" matInput placeholder="password">
					</mat-form-field>
					<mat-error>
						<span *ngIf="!credentialsForm.get('password').valid && credentialsForm.get('password').touched">password required</span>
					</mat-error>
				</div>
			</form>
      <p class="auth-error" *ngIf="authError$ | async">{{ authError$ | async }}</p>
		</mat-card-content>
		<mat-card-actions fxLayoutAlign="end">
			<button *ngIf="!(authenticating$ | async)" mat-button [disabled]="!credentialsForm.valid" (click)="onLogin()">login</button>
		</mat-card-actions>
	</mat-card>
</div>