@import 'components-theming';

$PRIMARY_LIT: #bed14f ;        // Averages the striped Stampify logo
$PRIMARY_DFT: #b9d658;        // Looks toxic on the secondary toolbar
$PRIMARY_DRK: #8ea63c;

$palette-ionosphere:(
  NAV_UL_LI: $PRIMARY_LIT
);


.theme-ionosphere {

  @include custom-components-theme($palette-ionosphere);

  ion-content {


    @include linear-gradient(left,$facebook-messenger);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

}
