$palettes: (

  // Misc
  moods: (bad : #FAA, bof : #FB6, good : #AFA),

  // Amber
  amber: (lit: #FFE082, dft: #FFCA28, drk: #FFC107),

    // Amber midnight: see "night"

    // Amber triads
    amber_B: (lit: #BAFFEF, dft: #19FFC8, drk: #12FFBB),
    amber_C: (lit: #EBB9F0, dft: #BC14CC, drk: #AD0EC0),


  // Backdrop "night"
  night: (lit: #44495a, dft: #3A3F51, drk: #2E3344, vdrk: #20232d),

    // Granny-peach triad
    granny: (lit: #d5f0b9, dft: #74CC14, drk: #61c00e),
    peach: (lit: #FFC9BA,dft: #FF4C19,drk: #FF3C12),

);
