@import 'palettes';

// Dercetech "Midnight" color scheme
$ACTIVE_PRIMARY: map-get($palettes, amber);
$ACTIVE_SECONDARY: map-get($palettes, amber_C);
$ACTIVE_BACKDROPS: map_get($palettes, night);

$PRIMARY_LIT: map-get($ACTIVE_PRIMARY, lit);
$PRIMARY_DFT: map-get($ACTIVE_PRIMARY, dft);
$PRIMARY_DRK: map-get($ACTIVE_PRIMARY, drk);

$SECONDARY_LIT: map-get($ACTIVE_SECONDARY, lit);
$SECONDARY_DFT: map-get($ACTIVE_SECONDARY, dft);
$SECONDARY_DRK: map-get($ACTIVE_SECONDARY, drk);

$BACKDROPS_LIT: map-get($ACTIVE_BACKDROPS, lit);
$BACKDROPS_DFT: map-get($ACTIVE_BACKDROPS, dft);
$BACKDROPS_DRK: map-get($ACTIVE_BACKDROPS, drk);


// BOX SHADOWs
$BOX_SHADOW_Z6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
$BOX_SHADOW_Z1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$BOX_SHADOW_VERTICAL-Z: 0px -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -2px 1px -2px rgba(0, 0, 0, 0.12), 0 -4px 5px 0 rgba(0, 0, 0, 0.2);
$BOX_SHADOW_NONE: none;

// Navigation
$NAV_BOX_SHADOW:
  0 2px 2px 0 rgba(0,0,0,0.14),     // x offset, y offset, blur, , color
  0 3px 1px -2px rgba(0,0,0,0.12),
  0 1px 5px 0 rgba(0,0,0,0.2);


// SHADES
$BLACK: #000;
$SHADE_NEAR_BLACK: #212121;
$SHADE_DARK: #3A3A3A;
$SHADE_MEDIUM: #757575;
$GREY_VDARK: #999;
$GREY_DARK: #AAA;
$GREY_MED: #BDBDBD;
$GREY_LIGHT: #EEEEEE;
$GREY_ALMOST_WHITE: #FAFAFA;
$WHITE: #FFF;

// TRANSPARENCIES
$TRANSPARENT: transparent;
$WHITE_12: rgba(255,255,255,0.12);
$BLACK_06: rgba(0,0,0,.06);

@function get-color-palette(){
  @return (
    primary:    (
      base: $PRIMARY_DFT,
      contrast: $BLACK,
    ),
    secondary:  $SECONDARY_DFT,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222
  );
}

@function get-components-colors() {
  @return (

    PRIMARY: $PRIMARY_DFT,
    SECONDARY: SECONDARY_DFT,

    DFT: (
      BG_COLOR: $GREY_LIGHT
    ),

    NAV_DESKTOP: (
      BG_COLOR: $BACKDROPS_DFT,
      WIDTH_OPEN: 220px,
      WIDTH_OPEN_COMPACT: 58px,
      TITLE_BOX_SHADOW: $BOX_SHADOW_VERTICAL-Z,
      CONTENT_BOX_SHADOW: $NAV_BOX_SHADOW,

      TITLE_COLOR: $WHITE,
      TITLE_HEIGHT: 56px,
      TITLE_SIZE: 28px,

      ITEM_HOVER_BG_COLOR: $TRANSPARENT, //$WHITE_12,
      ITEM_SEPARATOR_COLOR: $BACKDROPS_LIT,

      SECTION_GROUP_BG_COLOR: $BACKDROPS_DFT,
      SECTION_GROUP_EXPANDED_BG_COLOR: $BACKDROPS_DRK,
      SECTION_TITLE_COLOR: $SHADE_MEDIUM,
      SECTION_TITLE_SIZE: 10px,
      SECTION_TITLE_WEIGHT: 600,
      SECTION_TITLE_ALT_BG_COLOR: $BACKDROPS_LIT,
      SECTION_TITLE_ALT_TEXT_COLOR: $PRIMARY_DRK,
      SECTION_EXPANDED_TITLE_BG_COLOR: $TRANSPARENT, // section title bg
      SECTION_EXPANDED_TITLE_ALT_BG_COLOR: $TRANSPARENT, // section title bg
      SECTION_EXPANDED_TITLE_ALT_TEXT_COLOR: $PRIMARY_DRK, // section title color hover

      CATEGORY_BORDER: 1px solid $BLACK_06,
      CATEGORY_ICON_SIZE: 24px,
      CATEGORY_TXT_COLOR: $GREY_DARK,
      CATEGORY_TXT_COLOR_HIGHLIGHT: $PRIMARY_DFT,
      CATEGORY_TXT_SIZE: 14px,
      CATEGORY_TXT_WEIGHT: 600,
      CATEGORY_ALT_TXT_COLOR: $PRIMARY_DRK,
      CATEGORY_ALT_BG_COLOR: $BACKDROPS_LIT,

      SUB_BORDER: 1px solid $BLACK_06,
      SUB_ICON_SIZE: 14px,
      SUB_TXT_COLOR: $GREY_DARK,
      SUB_TXT_SIZE: 12px,
      SUB_TXT_WEIGHT: 400,
      SUB_ALT_TXT_COLOR: $PRIMARY_DRK,
      SUB_ALT_BG_COLOR: $BACKDROPS_LIT,
    ),

    PAGE_HEADER: (
      TOOLBAR_BG_COLOR: $BACKDROPS_DFT,
      TOOLBAR_TXT_COLOR: $PRIMARY_DFT,
      TOOLBAR_ALT_TXT_COLOR: $PRIMARY_LIT,
    )
  )
};
