// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts';

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import 'ionic.globals';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Layout -might not be the best approach since we now have @angular-flex-layout available in Ionosphere
// $PHONE_APP: "(max-width: 599px)";
// $DESKTOP_APP: "(min-width: 600px)";

// Gradients
@import 'gradients/uiGradients/gradient-mixins';

// Ionosphere theme
@import "ionosphere/jem's-layout";

// REM: this makes the theme colors and component cusotmization available app-wide.
//      See ../app/app.scss where _ionosphere.scss is imported
//      That place allows the generated global class to be appended AFTER the actual Ionic defaults, hence overriding them when needed.

$split-pane-md-side-min-width: 220px;
$split-pane-md-side-max-width: 220px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: get-color-palette();

// This used to be
/*
$colors:(
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);
 */

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

// REM: Anything included here would be overridden by the Ionic defaults. See comment around line 30 about Ionosphere theme import.

@import 'ionic.theme.default';
//@import "ionic.theme.dark";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import 'ionic.ionicons';

// Fonts
// --------------------------------------------------

@import 'roboto';
@import 'noto-sans';
@import 'fonts/font-awesome';
// @import '../assets/fonts/font-awesome/5.0.13/scss/fontawesome.scss';
// @import '../assets/fonts/font-awesome/5.0.13/scss/fa-regular.scss';
// @import '../assets/fonts/font-awesome/5.0.13/scss/fa-solid.scss';
// @import '../assets/fonts/font-awesome/5.0.13/scss/fa-brands.scss';
