<ion-title>ionosphere</ion-title>
<div class="compact-title">
  <span class="fa fa-line-chart fa-2x"></span>
</div>
<ion-content>
  <div ion-fixed class="menu-flex-wrapper" fxLayout="column">

    <div fxFlex="1 1 auto" id="crap" [perfectScrollbar] *ngIf="(structure$ | async)?.scroll">
      <div class="scrollable">
        <div *ngFor="let section of (structure$ | async)?.scroll"
           [ngClass]="{
            'flat-group' : (section.type === 'flat-group'),
            'group' : (section.type === 'group'),
            'collapsed' : (section.type === 'group' && !isSectionExpanded(section)),
            'expanded' : (section.type === 'group' && isSectionExpanded(section))
          }">

        <div *ngIf="section.type === 'flat-group'" fxLayout="column">
          <ion-item *ngFor="let category of section.categories; let isFirst = first"
                    class="menu-item category"
                    [ngClass]="{
                      'menu-first-item' : isFirst,
                      'menu-item-lit' : false
                    }"
                    fxFlex="0 0 auto">
            <ion-icon [ngClass]="category.fa" item-start></ion-icon>
            {{ category.title }}
          </ion-item>
        </div>

        <div *ngIf="section.type === 'group'">
          <ion-item class="menu-item section" (click)="toggleSectionExpanded(section);">
            <ion-icon item-start class="compact-only fa-chevron-small fa fa-chevron-right" [ngClass]="[(isSectionExpanded(section) ? 'fa-rotate-90' : '')]"></ion-icon>
            <ion-icon item-end class="fa-chevron-small fa fa-chevron-right" [ngClass]="[(isSectionExpanded(section) ? 'fa-rotate-90' : '')]"></ion-icon>
            {{ section.title }}
          </ion-item>

          <div class="categories" *ngIf="isSectionExpanded(section)">
            <div *ngFor="let category of section.categories">
              <ion-item class="menu-item category" (click)="setExpandedCategory(section, category)" [ngClass]="{ 'expanded' : isCategoryExpanded(section, category) }">
                <ion-icon [ngClass]="category.fa" item-start></ion-icon>
                <ion-icon *ngIf="category.sub" class="chevron-sub fa-chevron-small fa fa-chevron-right" [ngClass]="[(isCategoryExpanded(section, category) ? 'fa-rotate-90' : '')]" item-end></ion-icon>
                {{ category.title }}
              </ion-item>

              <div *ngIf="category.sub && isCategoryExpanded(section, category)">
                <ion-item *ngFor="let sub of category.sub" class="menu-item sub-item">
                  <ion-icon [ngClass]="sub.fa" item-left></ion-icon>
                  {{ sub.title }}
                </ion-item>
              </div>
            </div>
          </div>
        </div>


      </div>
      </div>
    </div>

    <div fxFlex></div>

    <div *ngIf="(structure$ | async)?.footer" class="menu-footer" fxFlex="0 0 auto">
      <ion-item *ngFor="let category of (structure$ | async)?.footer" class="menu-item category">
        <ion-icon [ngClass]="category.fa" item-start></ion-icon>
        {{ category.title }}
      </ion-item>
    </div>

    <div *ngIf="(structure$ | async)?.drawer" fxHide.lt-md class="menu-footer menu-drawer" fxFlex="0 0 auto">
      <ion-item class="menu-item category" (click)="toggleSize()">
        <ion-icon class="fa fa-chevron-right fa-chevron-small compact-only" item-start></ion-icon>
        <ion-icon class="fa fa-chevron-left fa-chevron-small" item-end></ion-icon>
      </ion-item>
    </div>

  </div>

</ion-content>
