login-widget {

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  div.flexy-container{

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    form {

      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      > div.fields{
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
      }

      > div.buttons{
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
      }
    }
  }

}
